<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{this.user}}'s Posts</h1>
    <p class="lead">Here is what you have posted so far:</p>
    <hr class="my-4">
  </div>
</div>

{{#each projects}}
<div class="card">
  <div class="card-header">
      {{this.user}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a id="editButton {{this.id}}" href="/" class="btn btn-primary">Edit Post</a>
    <a id="deleteButton {{this.id}}" href="/" class="btn btn-primary">Delete Post</a>
  </div>
</div>
{{/each}}

<script src="/js/homepage.js"></script>